<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://github.com/beydafc/bey_imgs/blob/main/Banner2_landingpam.jpg?raw=true);">
  <div class="container">
    <h1>La mejor solución para problemas grandes</h1>
    <p>Arreglamos cualquier situación</p>
    <a class="btn btn-ghost" href="#">Conócenos</a>
  </div>
</div>

<br>

<div class="row row-cols-12">
  <div class="home_intro mt-5">
    <h2>Quiénes somos</h2>
      <hr>
      <br>
    <h5>Somos una empresa 100% queretana dedicada a la realización y ejecución de servicios relacionados con el diseño y mantenimiento residencial e industrial</h5>
  </div>
</div>

<br>

<div class="row row-cols-12">
  <div class="servicios mt-5">
    <h3>Nuestros servicios</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 40px 40px 80px 40px;">
  <div class="col">
      <div class="card h-100" style="border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <img src="https://github.com/beydafc/bey_imgs/blob/main/pam_card1.jpg?raw=true" class="card-img-top card-product-img" style="height: 20; width: 20;">
          <div class="card-body">
            <h5 class="card-title">Renovación y restauración</h5>
            <p class="card-text">Impermeabilización, plomería, albañilería, etc.</p>
          </div>
      </div>
  </div>
  <div class="col">
      <div class="card h-100" style="border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <img src="https://github.com/beydafc/bey_imgs/blob/main/pam_card2.jpg?raw=true" class="card-img-top card-product-img" style="height: 20; width: 20;">
          <div class="card-body">
            <h5 class="card-title">Acondicionamiento e instalación</h5>
            <p class="card-text">Equipos y sistemas de energía, protección y seguridad</p>
          </div>
      </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <img src="https://github.com/beydafc/bey_imgs/blob/main/pam_card3.jpg?raw=true" class="card-img-top card-product-img" style="height: 20; width: 20;">
        <div class="card-body">
          <h5 class="card-title">Diseño, elaboración y ejecución</h5>
          <p class="card-text">Decoración interior y exterior, conservación histórica y proyectos urbanísticos</p>
        </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100" style="border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <img src="https://github.com/beydafc/bey_imgs/blob/main/pam_card4.jpg?raw=true" class="card-img-top card-product-img" style="height: 20; width: 20;">
        <div class="card-body">
          <h5 class="card-title">Suministro y distribución</h5>
          <p class="card-text">Materiales de construcción de todo tipo</p>
        </div>
    </div>
  </div>
</div>
</div>
</div>
