<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://github.com/beydafc/bey_imgs/blob/main/Banner2_landingpam.jpg?raw=true);">
  <div class="container">
    <h1>La mejor solución para problemas grandes</h1>
    <p>Arreglamos cualquier situación</p>
    <a class="btn btn-ghost" href="#">Conócenos</a>
  </div>
</div>

<br>

<div class="row row-cols-12">
  <div class="home_intro mt-5">
    <h2>Quiénes somos</h2>
      <hr>
      <br>
    <h5>Somos una empresa 100% queretana dedicada a la realización y ejecución de servicios relacionados con el diseño y mantenimiento residencial e industrial</h5>
  </div>
</div>

<br>

<div class="row row-cols-12">
  <div class="servicios mt-5">
    <h3>Nuestros servicios</h3>
  </div>
</div>
