.card-product-img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
  transform: translateY(-12px);
  transition-duration: 50ms;
}

.card-img-top {
  min-height: 200px;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.card-body {
  max-height: 120px;
  padding: 10px;
}

.card-body h5 {
  font-size: medium;
  font-weight: bold;
}

.card-text {
  padding-right: 2px;
}
