.home_intro {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.home_intro hr {
  border-color: #004373;
  border-width: thick;
}

.servicios {
  margin-top: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
