.btn-navbar {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(#2EC1F1, #2491B5);
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-navbar:hover {
  background: linear-gradient(#1d97c0, #185d75);
  color: white;
}
